.textContainer {
	display: flex;
	gap: 8px;
	align-items: center;
}

.checkContainer {
	min-width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.checkContainer:hover {
	transform: translateY(-2px);
}

.text {
	color: black;
	padding: 0;
	font-size: 16px;
	text-transform: capitalize;
	margin: 0;
	white-space: nowrap;
	max-width: 1160px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.link {
	text-decoration: none;
	color: transparent;
	width: 100%;
}

.todo {
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 8px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	gap: 16px;
	align-items: flex-start;
	white-space: pre-line;
	cursor: pointer;
	transition: transform 0.2s ease;
}
.todo:hover {
	transform: translateY(-2px);
}

.todoCompleted {
	background: #ddf9dd;
}

.card {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 16px;
}

.buttonSection {
	display: flex;
	gap: 8px;
}
